body{font-family: Verdana, "sans-serif";
background-color: black;
text-align: center;}

h1{font-weight: normal;
font-size: 50px;
color: white;
}

.comingsoon p{color: aquamarine;
font-size: 16px;
text-decoration: underline;
}


.explanation p{color: gray;
font-size: 21px;
}

h2{color: white;
font-size: 42px;
font-weight: 300;}

footer p{color: gray;
text-align: right;}

